{% extends "layout.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Stat ID</th>
        <th>Status</th>
        <th>Gate ID</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
        <tr>
          <td>{{ i.stat_id }}</td>
          <td>{{ i.status }}</td>
          <td>{{ i.gate_id }}</td>
          <td>{{ i.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
