<!DOCTYPE html>
<html>
  <head>
    <title>AdminWebApp</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <script
    src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js">

    $('span').delay(1000).hide(0);  
    </script>
  </head>
  <body>
    <div class="ui olive message">This application is still in Beta testing - if you find any error contact xx@xxx.com</div>
    {% include 'pageHeader.html' %}
    
    {% block content %}{% endblock %}
  </body>
</html>