
<div>
  <ul>
    <h3> General :</h3>
    <li> <a href="/menu"> Home</a></li>
    <h3> Admins :</h3>
    <li> <a href="/newgate">New Gate</a></li>
    <li> <a href="/gates"> List Gate</a></li>
    <li> <a href="/gatestats"> Gate Stats</a></li>
    <h3> Users : </h3>
    <li> <a href="/gates/newqrcode"> User Code </a></li>
    <li> <a href="/user/stats"> Your Stats </a></li>
    <h3> Information :</h3>
    <li> Only Admins can access the Admin menu </li>
    <li> Admin(s) : João Rocheteau </li>
  </ul>>
</div>
